html {
    box-sizing: border-box;
  }
  *,
  * ::before,
  * ::after {
    box-sizing: inherit;
  }
  
  :root {
    --main-color: #2e2f42;
    --background-color: #f4f4fd;
    --button-color: #4d5ae5;
    --addition-color: #434455;
    --letter-spacing: 0.02em;
  }


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,ol {
    margin: 0;
    padding-left: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
    overflow: hidden;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
 
  @media screen and (min-width: 1158px){
    section{
            padding-top: 120px;
            padding-bottom: 120px;
    }
  }

/*MOBILE STYLES */

 
  
 
  
/*Header*/

.header {
    border-bottom: 0.5px solid #f4f4fd;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

@media screen and (max-width: 767px){
    .header{
        padding: 16px 0;
    }
}
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .div-line {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;}
.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
  }
  .webstudio > span {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
  }
  
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }

 

  @media screen and (max-width: 767px) {

    .container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
      }

    .site-nav {
        display: none;}

    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        fill: #2f2f37;
      }
    /*Header*/
       /*===Address===*/ 
      .contacts-nav{
        display: none;
      }

  .mobile-menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 30px;
  }

  .mobile-menu-wrapper.is-hidden{
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-navigation{
    display: flex;
      flex-direction: column;
      margin-right: auto;
      padding-top: 72px;
      align-items: flex-start;
  }
  .mobile-menu{
    color: #2e2f42;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      font-style: normal;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      text-transform: capitalize;
      margin-bottom: auto;
      list-style-type: none;
  }
 .mobile-menu-link{
    display: block;
      color: #2e2f42;
      text-decoration:none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .mobile-menu-link:hover
 { color: #4d5ae5;
  }

 .mobile-address-box {
    display: flex;
    align-items: flex-end;
    font-style: normal;
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
    list-style-type: none;
  }

  .mobile-address-link {
    text-decoration: none;
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-address-link:hover{
        color: #4d5ae5;
  }

  .mobile-social-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
  }

  .mobile-social-links-list-item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #f4f4fd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link{
    display: block;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay {
    max-width: 320px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--addition-color);
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hw6-adaptive/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {

    .overlay {
      max-width: 320px;
      height: 432px;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--addition-color);
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hw6-adaptive/Dark-bg-mobile@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
  }

  .section-h1 {
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
  }

  .main-title {
    width: 216px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: var(--letter-spacing);
  
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .oder-service-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
  
    display: inline-block;
    min-width: 170px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .oder-service-button:hover,
  .oder-service-button:focus {
    background-color: #404bbf;
  }

  /* skills section */

.our-skills-list{
  display: flex;
  flex-direction: column;
}
  
  .skills-icons {
   display: none;
  }
  
  .strategy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    color: var(--main-color);
    margin-bottom: 8px;
  }
  .strategy-paragraph{
    padding-bottom: 72px;
  }
  .punctuality {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    color: var(--main-color);
    margin-bottom: 8px;
  }
  .punctuality-paragraph{
    padding-bottom: 72px;
  }
  .diligence {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    color: var(--main-color);
    margin-bottom: 8px; 
  }
  .diligence-paragraph{padding-bottom: 72px;}

  .technologies {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    color: var(--main-color);
    margin-bottom: 8px;
  }

  }



/*MOBILE STYLES*/

/*TABLET STYLES*/
@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
      }
    
      .mobile-menu-wrapper {
        display: none;
      }
      .mobile-menu-open-btn {
        display: none;
      }

      .div-line {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        align-items: center;}

        .site-nav {
            display: flex;
          }

          .site-nav .items:not(:last-child) {
            margin-right: 40px;
          }

          .items {
            position: relative;
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
          }
          
          .items::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            transform: scaleX(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          
          .items:hover::after {
            transform: scaleX(1);
          }

          .studio {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .studio:hover,
          .studio:focus {
            color: #4d5ae5;
          }
          
          .portfolio {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          
          .portfolio:hover,
          .portfolio:focus {
            color: #4d5ae5;
          }
          
          .contacts {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          
          .contacts:hover,
          .contacts:focus {
            color: #4d5ae5;
          }

          .contacts-nav {
            display: inline-flex;
            flex-direction: column;
            margin-left: auto;}

            .contacts-nav .items-contacts:not(:last-child) {
            margin-right: 40px;
          }

          .mailto {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: var(--letter-spacing);
            color: var(--addition-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .mailto:hover,
          .mailto:focus {
            color: #4d5ae5;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .tel {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: var(--letter-spacing);
            color: var(--addition-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .tel:hover,
          .tel:focus {
            color: #4d5ae5;
          }

          .current::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            opacity: 1;
          }
          .current.studio {
            color: #4d5ae5;
          }
          .current.portfolio {
            color: #4d5ae5;
          }

          .address-box {
            display: flex;
            align-items: flex-end;
            font-style: normal;
          }


          .overlay {
            max-width: 768px;
            height: 436px;
            margin-left: auto;
            margin-right: auto;
            background-color: var(--addition-color);
            background-image: linear-gradient(
                to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
              ),
              url(../images/hw6-adaptive/Dark-bg-tablet.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }

          @media screen and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi) {
        
            .overlay {
              max-width: 768px;
              height: 436px;
              margin-left: auto;
              margin-right: auto;
              background-color: var(--addition-color);
              background-image: linear-gradient(
                  to right,
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)
                ),
                url(../images/hw6-adaptive/Dark-bg-tablet@2x.jpg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            } }
        
          .section-h1 {
            padding-top: 112px;
            padding-bottom: 112px;
            text-align: center;
          }
        
          .main-title {
            width: 496px;
            text-align: center;
            color: #ffffff;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: var(--letter-spacing);
          
            margin-bottom: 36px;
            margin-left: auto;
            margin-right: auto;
          }
        
          .oder-service-button {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.18;
            letter-spacing: 0.04em;
            color: #ffffff;
            background-color: #4d5ae5;
            cursor: pointer;
          
            display: inline-block;
            min-width: 170px;
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 4px;
            border-color: transparent;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          
          .oder-service-button:hover,
          .oder-service-button:focus {
            background-color: #404bbf;
          }
/* skills */

.our-skills-list{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
}

          .skills-icons {
            display: none;
           }

           .strategy {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            margin-bottom: 8px;
          }
          .punctuality {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            margin-bottom: 8px;
          }
          .diligence {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            margin-bottom: 8px;
          }
          .technologies {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: var(--letter-spacing);
            color: var(--main-color);
            margin-bottom: 8px;
          }


}
  

/*TABLET STYLES*/

/*DESKTOP STYLES*/
@media screen and (min-width: 1158px){
.container{ max-width: 1158px;
padding: 0 15px;}

.overlay {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--addition-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hw6-adaptive/Dark-bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .overlay {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--addition-color);
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hw6-adaptive/Dark-bg-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.section-h1 {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.main-title {
  width: 496px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--letter-spacing);

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.oder-service-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;

  display: inline-block;
  min-width: 170px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.oder-service-button:hover,
.oder-service-button:focus {
  background-color: #404bbf;
}

/* skills */

.our-skills-list {
  display: flex;
  flex-direction: none;
  flex-wrap: nowrap;
}

.our-skills-list .skills-items:not(:last-child) {
  margin-right: 24px;
}

.skills-icons {
  background-color: #f4f4fd;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(142, 143, 153, 1)
}

.strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  color: var(--main-color);
  margin-bottom: 8px;
}
.punctuality {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  color: var(--main-color);
  margin-bottom: 8px;
}
.diligence {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  color: var(--main-color);
  margin-bottom: 8px;
}
.technologies {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  color: var(--main-color);
  margin-bottom: 8px;
}

}
  
  /*DESKTOP STYLES*/ 